* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #000;
    color: #fff;
	// font-family: 'Tenor Sans', sans-serif;
	font-family: 'Ubuntu', sans-serif;
}
html{
    scroll-padding-top: 60px;
}
.wrapper {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}


.navi{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $black;
    z-index: 2;
   transform: translateX(100%);
   transition: transform 1s;
    .close{
        position: absolute;
        right: 10%;
        top: 10%;
        font-size: 40px;
        i{
            color: $white;
        }
    }
    .nav-items{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        ul{
            list-style: none;
            li{
                padding-bottom: 20px;
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $white;
                    transition: color .3s;
                }
                a:hover{
                    color: $black;
                }
            }
        }
    }
}
.active{
    transform: translateX(0);
}
